<ng-container *transloco="let t">
    <spiderly-panel [isFirstMultiplePanel]="true" >
        <panel-header title="Panel123"></panel-header>
        <panel-body>
        uojfhhirfz
        </panel-body>
    </spiderly-panel>
    <user-extended-base-details [isLastMultiplePanel]="true"[panelTitle]="userExtendedFormGroup.getRawValue().email ?? null" panelIcon="pi pi-user"
        [formGroup]="formGroup" [userExtendedFormGroup]="userExtendedFormGroup" (onSave)="onSave()"
        [showIsDisabledForUserExtended]="showIsDisabledControl"
        [showHasLoggedInWithExternalProviderForUserExtended]="showHasLoggedInWithExternalProvider"
        [showReturnButton]="false" [authorizedForSaveObservable]="authorizedForSaveObservable"
        (onIsAuthorizedForSaveChange)="isAuthorizedForSaveChange($event)"></user-extended-base-details>
</ng-container>